header{
    background-image: url('../assets/img/banner-forrest.png');
}
.deck{
    text-align: center;
}
.card{
    border: none;
    display: inline-block;
}
.card img{
    border-radius: 3em;
}
.card-text{
    font-size: 1.3em;
    color: black;
    text-align: center;
}
.footer-mask{
    bottom:0;
    left:0;
}