header{
    background-image: url('../assets/img/banner-forrest.png');
}

.deck{
    text-align: center;
}
.card{
    border: none;
    display: inline-block;
    vertical-align : top;

}
.card img{
    display:  inline-block; 
    background-color: :none;
}

.footer-mask{
    bottom:0;
    left:0;
}