header{
    background-image: url('../assets/img/banner-forrest.png');
}


.filter-bar{
    background-color: none;
    color: #f8f8f8;
    border-radius: 3em;
    padding:0;
}

.filter-bar p{
    padding:0 0.5em;
    margin:0;

}
.bytype-row{
    background-color: #5F9EA0;
    border-radius : 3em;
}

.filter-btn{
    display: inline-block;
    border-radius: 1em;
    border: none;
    text-align: center; 
    line-height: 3em;
    font-weight: bold;
    font-size: 1em;
    background: transparent;
    color: #f8f8f8;
}
.filter-btn:hover{
    background-color: rgb(100, 148, 24);
}
.filter-btn:active{
    background-color: rgb(118, 177, 22);
}

.filter-btn img{
    display: inline-block;
    width: 20%;
    min-width: 30px;
    line-height: normal;
    margin-right: 0.5em;
}
.filter-btn p{
    display: inline-block;
    line-height: normal;
    font-weight: bold;
    font-size: 1.2em;
}


.filter-label{
    padding-top: 0.75rem;
    font-size:1.4em;
    font-weight: 600;
    font-style: oblique;
}

.onlytext-btn{
    padding-left: 1em;
    padding-right: 1em;
}


.more{
    float: right;
    text-decoration: underline;
    text-align: right;
    color: #688D90;
}
.event-img{
    width:100%;
    border-radius: 1em;
    margin-bottom: 1em;
    display: inline-block;
}



.event-title{
    color: black;
    font-weight: 800;
    font-size:1.2em;
    text-align: center
    
}
.event-time{
    color: black;
    font-weight: 400;
    font-size: 1.2em;
   text-align: center;
}

.footer-mask{
    bottom:0;
    left:0;
}

/* Filtering */

.unshown{
    display: none;
}

.hidden{
    opacity: 100%;
}
.active{
    background-color:rgb(118, 177, 22) ;
}
.active:hover{
    background-color:rgb(118, 177, 22) ;
}

#zero-events{
    margin: 3em 0 8em 0;
    text-align: center;
    font-weight: 800;
}

.hidden{
    display:none;
}

.deck{
    text-align: center;
   
}
.card{
    border: none;
    display: inline-block;
    vertical-align : top;


}
.card img{
    border-radius: 3em;
    display:  inline-block; 

}
.card-text{
    font-size: 1.3em;
    color: black;
    text-align : center;
 
}

input[type="submit"].my-submit {
background: #02675A;
color: #f8f8f8;
border: none;
font-weight: 700;
padding: 1em 1em;
font-size: 1.2em;
border-radius: 2em;
}
input[type="submit"].my-submit:hover{
    background-color: #5F9EA0;
}

