header{
    background-image: url('../img/banner-forrest.png');
    background-color: black;
}
.filter-bar{
    background-color: none;
    color: #f8f8f8;
    border-radius: 3em;
    padding:0;
}

.filter-bar p{
    padding:0 0.5em;
    margin:0;

}
.bytype-row{
    background-color: #5F9EA0;
    border-radius : 3em;
}

.filter-btn{
    display: inline-block;
    border-radius: 1em;
    border: none;
    text-align: center; 
    line-height: 3em;
    font-weight: bold;
    font-size: 1em;
    background: transparent;
    color: black;
}
.filter-btn:hover{
    background-color: #02675A;
}
.filter-btn:active{
    background-color: green;
}

.filter-btn img{
    display: inline-block;
    width: 20%;
    min-width: 30px;
    line-height: normal;
    margin-right: 0.5em;
}
.filter-btn p{
    color: white;
    display: inline-block;
    line-height: normal;
    font-weight: bold;
    font-size: 1.2em;
}


.filter-label{
    padding-top: 0.75rem;
    font-size:1.4em;
    font-weight: 600;
    font-style: oblique;
}

.onlytext-btn{
    padding-left: 1em;
    padding-right: 1em;
}


.more{
    float: right;
    text-decoration: underline;
    text-align: right;
    color: #688D90;
}
.event-img{
    height: 300px; /*forzato per garantire stessa dimensione*/
    width:100%;
    border-radius: 3em;
    margin-bottom: 1em;
    display: inline-block;
}



.event-title{
    color: black;
    font-weight: 800;
    font-size:1.2em;
    text-align: center
    
}
.event-time{
    color: black;
    font-weight: 400;
    font-size: 1.2em;
   text-align: center;
}
.hidden{
    display:none;
}


.deck{
    text-align: center;
}
.card{
    border: none;
    display: inline-block;
    vertical-align : top;

}
.card img{
    border-radius: 3em;
    display:  inline-block; 
}
.card-text{
    font-size: 1.3em;
    color: black;
    text-align: center;
    display:  inline-block
     }

.info-el-name{font-size: 3em;
    color: black;
    text-align: left;
    display:  inline-block;
    font-weight: 700;
}
.info-el-role{font-size: 1.5em;
    color: black;
    text-align: left;
    display:  inline-block;
    margin-bottom: 1em;
    font-weight: 300

}
.info-el-motto{font-size: 1.8em;
    color: black;
    text-align: left;
    display:  inline-block;
    margin-bottom: 1em;

}
.info-el-contatti{font-size: 2em;
    color: black;
    text-align: left;
    display:  inline-block;
    font-weight: 600;


}
.info-el-mail{font-size: 1.3em;
    color: black;
    text-align: left;
    display:  inline-block;
    font-weight: 400;


}

.contact-img-mail{
    width: 10%;
    height: 10%;
    display:  inline-block; 
}
.contact-img-phone{
    width: 10%;
    height: 10%;
    display:  inline-block; 
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}
.footer-mask{
    bottom:0;
    left:0;
}

#back-to-staff{
    margin-top: 2em;

}

.staff-btn{
    margin-top: 3em;
    background: #02675A;
    color: #f8f8f8;
    border: none;
    font-weight: 700;
    padding: 1em 1em;
    font-size: 1.2em;
    border-radius: 2em;
    margin-bottom:2em;

}
.staff-btn:hover{
    background-color: #5F9EA0;
}

.active{
    background-color: #02675A;

}